* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 60vw;
}

#container{
  display: flex;
  justify-content: flex-start;
}

/* #sidebar{
  display: flex;
  flex-direction: column;
   justify-content: space-around; 
  align-items: center;
} */
#sidebar{
  padding-left: 1em;
}

/* #selectionBar{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

